{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        {% block viewport %}
        {# Override this in templates to change the viewport settings #}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}

        {# Global stylesheets #}
        {#<link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">#}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        {#{% wagtailuserbar %}#}


        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <a class="nav-link" id="sidenavToggler" style="padding: 0px 10px 0px 0px; color:white;">
          <i class="fa fa-fw fa-bars"></i>
        </a>
            <a class="navbar-brand" href="/">Binary Crate</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                        <a class="nav-link" href="/">
                <i class="fa fa-fw fa-dashboard"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
                    </li>
                    {% comment %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Editor">
                        <a class="nav-link" href="editor.html">
                <i class="fa fa-fw fa-code"></i>
                <span class="nav-link-text">Editor</span>
              </a>
                    </li>
                    {% endcomment %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Labs">
                        <a class="nav-link" href="/labs">
                <i class="fa fa-fw fa-laptop"></i>
                <span class="nav-link-text">Labs</span>
              </a>
                    </li>
                    {% comment %}
                    <li class="nav-item">
                        <a class="nav-link" href="settings.html">
                <i class="fa fa-fw fa-wrench"></i>
                <span class="nav-link-text">Settings</span>
              </a>
                    </li>
                    {% endcomment %}
                </ul>
                {% comment %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <form action="#">
                            <a class="btn btn-default navbar-btn crt-btn" href="#" data-toggle="modal" data-target="#createNew">Create New</a>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                    </li>

                </ul>
                {% endcomment %}
            </div>
        </nav>
        {% block content %}{% endblock %}
        <!-- /.labs-container-fluid-->
        <!-- /.content-wrapper-->
        {% comment %}
        <footer class="sticky-footer">
            <div class="labs-container-fluid">
                <div class="text-center">
                    <small>Copyright © Binary Crate 2019</small>
                </div>
            </div>
        </footer>
        {% endcomment %}
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>


        {# Global javascript #}
        {#<script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>#}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
