[submodule "historygraph"]
	path = historygraph
	url = https://github.com/historygraphio/historygraph.git
[submodule "cavorite"]
	path = cavorite
	url = https://github.com/mlockett42/cavorite.git
[submodule "pypyjs-release/pypyjs-release"]
	path = pypyjs-release/pypyjs-release
	url = https://github.com/pypyjs/pypyjs-release-nojit.git
[submodule "pypyjs_modules/munch"]
	path = pypyjs_modules/munch
	url = https://github.com/BinaryCrate/munch.git
[submodule "pypyjs_modules/six"]
	path = pypyjs_modules/six
	url = https://github.com/BinaryCrate/six.git
