[submodule "historygraph"]
	path = historygraph
	url = https://github.com/historygraphio/historygraph.git
[submodule "cavorite"]
	path = cavorite
	url = https://github.com/mlockett42/cavorite.git
[submodule "pypyjs-release/pypyjs-release"]
	path = pypyjs-release/pypyjs-release
	url = https://github.com/pypyjs/pypyjs-release-nojit.git
[submodule "pypyjs_modules/munch"]
	path = pypyjs_modules/munch
	url = https://github.com/BinaryCrate/munch.git
[submodule "pypyjs_modules/six"]
	path = pypyjs_modules/six
	url = https://github.com/BinaryCrate/six.git
[submodule "pypyjs_modules/appdirs"]
	path = pypyjs_modules/appdirs
	url = https://github.com/ActiveState/appdirs.git
[submodule "pypyjs_modules/baron"]
	path = pypyjs_modules/baron
	url = https://github.com/PyCQA/baron.git
[submodule "pypyjs_modules/redbaron"]
	path = pypyjs_modules/redbaron
	url = https://github.com/PyCQA/redbaron.git
[submodule "pypyjs_modules/rply"]
	path = pypyjs_modules/rply
	url = https://github.com/alex/rply.git
