[submodule "historygraph"]
	path = historygraph
	url = https://github.com/BinaryCrate/historygraph.git
[submodule "cavorite"]
	path = cavorite
	url = https://github.com/mlockett42/cavorite.git
[submodule "pypyjs-release/pypyjs-release"]
	path = pypyjs-release/pypyjs-release
	url = https://github.com/pypyjs/pypyjs-release-nojit.git
