backports.tempfile==1.0
django==1.11.13
django-allauth==0.36.0
django-mptt==0.9.0
djangorestframework==3.6.4
fabric3==1.13.1.post1
git+https://github.com/BinaryCrate/behave-django.git@50450684840d66d34c3bd121aa5b75b46f6c22e1
mock==2.0.0
psutil==5.4.6
psycopg2==2.7.4
pytest-django==3.3.2

#Wagtail
wagtail==1.13.1

# General requirements for testing
selenium==3.13.0
factory-boy==2.11.1
