<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Binary Crate - Learn, Code, Share</title>
  <!-- Bootstrap core CSS-->
  <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" type="text/css" rel="stylesheet">
  <link href="static/css/bc-custom.css" type="text/css" rel="stylesheet">
    <style>
    pre {
        width: 90%;
        height: 20%;
        margin: 1em;
        padding: 1em;
        border: 5px solid #ddd;
        overflow: auto;
    }
    .canvas {
        border: 1px solid blue;
    }
    .canvasdiv {
        float: left;
        margin-right: 5px;
    }
    .parentdiv {
    }
    </style>

    <!-- Bootstrap core JavaScript-->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="static/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    {#<script src="static/js/sb-admin.min.js"></script>#}
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div>
    <h1>Binary Crate</h1>
    <noscript><h3>Please enable JavaScript for using Binary Create</h3></noscript>
    <pre id="output"></pre>
    <hr />
</div>
<script src="static/pypyjs-release/lib/Promise.min.js" type="text/javascript" charset="utf-8" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');"></script>
<script src="static/pypyjs-release/lib/FunctionPromise.js" type="text/javascript" charset="utf-8" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');"></script>
<script src="static/pypyjs-release/lib/pypyjs.js" type="text/javascript" charset="utf-8" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');"></script>
<script type="text/javascript" charset="utf-8">
try {
    jQuery(document);
} catch (e) {
    alert("Error, jQuery JS not loaded!\n Original error was:" + e);
}
function console_exec(code) {
    pypyjs.exec(code).then(function() {
        console.log("OK");
    }, function (err) {
        // err is an instance of PyPyJS.Error
        console.log("ERROR: "+err.name+": "+err.message+"!)");
        pypyjs.stderr(err.trace); // the human-readable traceback, as a string
    });
}
$(function () {
    out = $("#output");
    pypyjs.stdout = pypyjs.stderr = function(data) {
        console.log(data);
    }
    pypyjs.stdout.reset = pypyjs.stderr.reset = function(data) {
    }

    function status_printout(data) {
        out.append(data);
        out.scrollTop(out.prop("scrollHeight")); // scoll down
    };

    // Display a helpful message and twiddle thumbs as it loads.
    status_printout("Loading PyPy.js.\n\n");
    status_printout('It\'s big, so this might take a while...');
    var pseudo_status = setInterval(function(){ pypyjs.stdout("."); }, 500);

    pypyjs.ready().then(function() {
        clearInterval(pseudo_status);
        pypyjs.stdout.reset();

        pypyjs.stdout("load 'bootbc.py'...");
        $.get( "static/front-end/bootbc.py", function( data ) {
            console_exec( data );
        }).done(function() {
            status_printout("OK\n");
        }).fail(function() {
            status_printout("error!");
        });
    });
});
</script>
</body>
</html>
