{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_head %}
{{ block.super }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Binary Crate - Reset Password</title>
  <!-- Bootstrap core CSS-->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" type="text/css" rel="stylesheet">
  <!-- <link href="/static/css/bc-custom.css" type="text/css" rel="stylesheet">  -->
  <!-- Code Mirror CSS -->
  <link rel=stylesheet href="/static/doc/docs.css">
  <link rel=stylesheet href=/static/lib/codemirror.css>
  <link href="/static/css/bc-custom.css" type="text/css" rel="stylesheet">
  <script src=/static/lib/codemirror.js></script>
  <script src=/static/mode/xml/xml.js></script>
  <script src=/static/mode/javascript/javascript.js></script>
  <script src=/static/mode/css/css.js></script>
  <script src=/static/mode/htmlmixed/htmlmixed.js></script>
  <script src=/static/mode/python/python.js></script>
  <!-- Bootstrap core JavaScript-->
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/static/jquery-easing/jquery.easing.min.js"></script>
{% endblock %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block body %}
<body class="bg_gradient content-wrapper">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <div class="text-center mt-4 mb-5">
                    <h4>Forgot your password?</h4>
                    <p>Enter your email address and we will send you instructions on how to reset your password.</p>
                </div>
                <form  method="POST" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address" name="email">
                    </div>
                    {#<a class="btn btn-primary btn-block" href="login.html">Reset Password</a>#}
                    <input class="btn btn-primary btn-block" type="submit" value="Reset Password" />
                </form>
                <div class="text-center"><a class="d-block small mt-3" href="/accounts/signup">Register an Account</a><a class="d-block small" href="/accounts/login/">Login Page</a></div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

