{% extends "account/allauth_base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block extra_head %}
{{ block.super }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Binary Crate - Reset Password</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static "bootstrap/css/bootstrap.min.css" %}"" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" type="text/css" rel="stylesheet">
  <!-- <link href="{% static "css/bc-custom.css" %}" type="text/css" rel="stylesheet">  -->
  <!-- Code Mirror CSS -->
  <link rel=stylesheet href="{% static "doc/docs.css" %}">
  <link rel=stylesheet href=""{% static "lib/codemirror.css" %}">
  <link href="{% static "css/bc-custom.css" %}" type="text/css" rel="stylesheet">
  <script src="{% static "lib/codemirror.js" %}"></script>
  <script src="{% static "mode/xml/xml.js" %}""></script>
  <script src="{% static "mode/javascript/javascript.js" %}"></script>
  <script src="{% static "mode/css/css.js" %}"></script>
  <script src="{% static "mode/htmlmixed/htmlmixed.js" %}"></script>
  <script src="{% static "mode/python/python.js" %}"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static "jquery/jquery.min.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static "jquery-easing/jquery.easing.min.js" %}"></script>
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
<body class="bg_gradient mother">
    <div class="container-fluid mother">
        <div class="card card-login mx-auto mt-5 middle">
            <div class="card-body">
                <div class="text-center mt-4 mb-5">
                  <span><i class="fa fa-check  fa-2x"></i></span>
                    <h4>Success</h4>
                    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
                </div>
                <form>
                  <a class="btn btn-primary btn-block social-media-login-link" href="/accounts/login/">Login</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
